AO_Dev_workspace_test/Watermarkpipeline.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource"
          },
          "datasetSettings": {
            "type": "LakehouseTable",
            "typeProperties": {
              "table": "watermarktable"
            },
            "schema": [],
            "linkedService": {
              "name": "Dev_AO_Lakehouse",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "39faeaa5-8771-83d0-4221-90082e6163e9",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Tables"
                },
                "annotations": []
              }
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "LookupOldWatermarkActivity",
        "dependsOn": []
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "SalesforceSource",
            "query": {
              "value": "\nselect SELECT Id, Name, Event_Display_Name__c, Event_End_Date__c, Event_ID__c,  Event_Start_Date__c, Event_Status__c, City__c, Country__c, createdDate, LastViewedDate__c,LastModifiedDate__c,CreatedById__c,CreatedById,Event_Owner_Name__c,Event_Specialist__c,LastModifiedById,\nLastModifiedById__c,OwnerId,OwnerId__c FROM custom_event_object_with_dates__c  where createdDate >'@{activity('LookupOldWatermarkActivity').output.firstRow.watermarkvalue}' and createdDate <='@{activity('LookupNewWaterMarkActivity').output.firstRow}'\n",
              "type": "Expression"
            },
            "includeDeletedObjects": false,
            "datasetSettings": {
              "type": "SalesforceObject",
              "typeProperties": {
                "objectApiName": "custom_event_object_with_ids__c"
              },
              "schema": [],
              "externalReferences": {
                "connection": "489c6869-f664-488e-abc3-55fc1123a0b4"
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "LakehouseTableSink",
            "tableActionOption": "Upsert",
            "upsertSettings": {
              "keys": [
                "Event_ID__c"
              ]
            },
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "table": "custom_event_object_with_ids__c"
              },
              "schema": [],
              "linkedService": {
                "name": "Dev_AO_Lakehouse",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "39faeaa5-8771-83d0-4221-90082e6163e9",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Tables"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Copy data1",
        "dependsOn": [
          {
            "activity": "LookupOldWatermarkActivity",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "LookupNewWaterMarkActivity",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "SalesforceSource",
            "query": "select max(createdDate) NewwaterMarkdate from\ncustom_event_object_with_dates__c",
            "includeDeletedObjects": false
          },
          "datasetSettings": {
            "type": "SalesforceObject",
            "schema": [],
            "externalReferences": {
              "connection": "419cc717-166c-4d74-9715-12787c5c660c"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "LookupNewWaterMarkActivity",
        "dependsOn": []
      }
    ]
  }
}